.editStatus_art{

    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;


    div.editItem_art{
        font-size: 14px;
        line-height: 20px;
        font-family: El Messiri,sans-serif;

        input{


        }


    }




}