.editSumDictionariesInOneLevel{

    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;

    >div.editItem_set{
        >div{
            width: 20%;
            padding-left: 10px;
        }
    }
}