.editButSaveCancel_art{
    width: 100%;
    margin: 20px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;//flex-start flex-end center space-between space-around space-evenly
    align-items: center;//stretch flex-start flex-end center baseline


    >div{
        padding: 10px 20px;
        background-color: #ff4631;
        //background-color: #f9f9f9;
        margin: 10px 10px;
        text-align: center;

        font-size: 16px;
        line-height: 20px;
        font-family: El Messiri,sans-serif;
        color: #f9f9f9;
        //color: #ff4631;
        outline-offset: 1px;
        border: 1px solid #ff4631;
        cursor: pointer;
        user-select: none;

        transition: opacity 0.2s linear;//ease-out
    }
    >div.noactive{
        opacity: 0.3;
    }
    >div.noactive:hover{
        background-color: #ff4631;
        color: #f9f9f9;
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,0), 1px 1px 4px rgba(0,0,0,0); 
        cursor: default;
    }
    >div.noactive:active{
        background-color: #ff4631;
        color: #f9f9f9;
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,0), 1px 1px 4px rgba(0,0,0,0); 
        cursor: default;
    }

    >div:hover{

        //background-color: #056d32;
        //border: 1px solid #185533;
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.2), 1px 1px 4px rgba(0,0,0,0.8); 


        cursor: pointer;


        //background-color: #f9f9f9;
        background-color: #ff4631;
        //olor: #ff4631;
        color: #f9f9f9;
        border: 1px solid #ff4631;
    }
    >div:active{


        box-shadow: inset 0 1px 0 hsla(0,0%,100%,0), 1px 1px 4px rgba(0,0,0,0); 

/*
        background-color: #ff4631;
        //background-color: #ff4631;
        color: #f9f9f9;
        //color: #f9f9f9;
        border: 1px solid #ff4631;*/
    }






}