
#adminPage {

	article {
		margin: 1% 0 3% 0;

		header{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			padding-bottom: 10px;
			border-bottom: 1px solid #dcdcdc;
			margin: 10px 0;

			img{
				width: 75px;
				height: 75px;
				margin: 0px 20px;
			}
			h2 {	
				font-family: 'Marmelad', sans-serif;
			}
			h2.accent1 {
				flex-grow: 2;
				font-size: 22px;
				text-align: left;
				padding: 2% 1%;
				
			}
			
			// h2.accent2 {
			// 	display: block;
			// 	font-size: 18px;
			// 	color: #a76060;
			// 	text-align: right;
				
			// 	padding: 0 20px 20px 20px;
			// 	margin-bottom: 20px;
			// }	
		}
	}
}


@media screen and (min-width: 576px) and (max-width: 768px) {

	#adminPage {
		article {
			header{
				img{
					width: 60px;
					height: 60px;
					margin: 0px 14px;
				}
				h2.accent1 {
					font-size: 17px;
					line-height: 22px;
					padding: 3% 1%;
				}
			}
		}
	}
}
@media screen and (min-width: 200px) and (max-width: 576px) {
	
	#adminPage {
		article {
			header{
				img{
					width: 55px;
					height: 55px;
					margin: 0px 11px;
				}
				h2.accent1 {
					font-size: 15px;
					line-height: 22px;
					padding: 3% 1%;
				}
			}
		}
	}
}
